h3 {
    font-size:25px !important;
}
.btn-success:hover {
    background-color:rgb(250, 88, 88);
}
canvas {
    animation-name:project;
    animation-duration:4s;
    animation-iteration-count: infinite;
    border-width:0.1px;
    border-color:aquamarine;
}
@keyframes project {
    from{box-shadow: 1px 1px 38px slategray;}
    to{box-shadow: 1px 1px 38px darkorchid ;}
}